{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% static "profilephotos" as baseUrlOfPhotos %}
{% static "reviewimages" as baseUrlOfReviews %}

{% block block_content %}
<!-- Top Image -->

<img src="{% static 'images/topimage.jpg' %}" height="55px" width="100%">

<!-- News -->

<div class="news" id="news">
	<div class="container">
		<div class="row">
			<div class="col-xl-8">
				<div class="review_container">

					{% for reviewInstance in destinations %}

					<!-- Reviews -->
					<div class="review bg-light">

						<!-- Review Slider -->
						<div class="review_slider_container">
							<div class="owl-carousel owl-theme home_slider">

								{% for review_image in reviewInstance.images %}

								<!-- Slide -->
								<div class="background_image" style="background-image:url({{ baseUrlOfReviews }}{{ review_image.url }});"></div>

								{% endfor %}

							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-xl-3">
								<div class="news_post_content">
									<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
										<div></div>
										<div>{{ reviewInstance.date }}</div>
									</div>
								</div>
							</div>
							<div class="col-xl-7">
								<div class="review_title">
									<h4>{{ reviewInstance.title }}</h4>
								</div>
								<div class="review_location">
									<h5>{{ reviewInstance.location }}</h5>
								</div>
							</div>
							<div class="col-xl-2 reviewer_name">
								<img class="img-fluid rounded-circle mb-3" src="{{ baseUrlOfPhotos }}{{ reviewInstance.reviewer_image.0.url }}" alt="" width="40" height="40">
								<h6>{{ reviewInstance.reviewer_name }}</h6>
							</div>
						</div>

						<div class="review_description">
							{{ reviewInstance.description }}
						</div>

						<div class="row review_likes_comments">
							<div class="col-xl-6"><h6>Likes: 50</h6></div>
							<div class="col-xl-6"><h6>Comments: 100</h6></div>
						</div>

						<div class="row review_comments">
							<div class="col-xl-1">
								<img class="img-fluid rounded-circle mb-3" src="{% static 'images/signupicon.png' %}" alt="" width="35" height="35">
							</div>
							<div class="col-xl-11">
								<h6>Commenter name</h6>
								Nice post!
							</div>
						</div>

						<div class="row review_comments">
							<div class="col-xl-1">
								<img class="img-fluid rounded-circle mb-3" src="{% static 'images/signupicon.png' %}" alt="" width="35" height="35">
							</div>
							<div class="col-xl-11">
								<h6>Commenter name</h6>
								Nice post!
							</div>
						</div>
					</div>

					{% endfor %}

				</div>
			</div>

			<!-- News Post -->

			<div class="col-xl-4">
				<div class="news_container">
					<div class="section_title">
						<h4>You May Like</h4>
					</div>
					<br>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock block_content %}