{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block block_header %}

<div class="header_content_hidden d-flex flex-row align-items-center justify-content-start">
	<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
		<div class="logo"><a href="../">Travellica</a></div>
		<nav class="main_nav">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="../">Home</a></li>
				<li><a href="destination">Popular</a></li>
				<li><a href="destination">Latest</a></li>
				<li><a href="profile">Contributors</a></li>
				<li><a href="about.html">About us</a></li>
			</ul>
		</nav>
		<div class="header_phone ml-auto">
			<a href="#" data-toggle="modal" data-target="#signInModal">Sign in</a>|
			<a href="#" data-toggle="modal" data-target="#signUpModal">Sign up </a>
		</div>

		<!-- Hamburger -->

		<div class="hamburger ml-auto">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
	</div>
</div>

{% endblock block_header %}

{% block block_content %}
<!-- Top Image -->

<img src="{% static 'images/topimage.jpg' %}" height="55px" width="100%">

<!-- News -->

<div class="news" id="news">
	<div class="container">
		<div class="row">
			<div class="col-xl-8">
				<div class="review_container">

					<!-- Reviews -->
					<div class="review bg-light">

						<!-- Review Slider -->
						<div class="review_slider_container">
							<div class="owl-carousel owl-theme home_slider">

								<!-- Slide -->
								<div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %});"></div>

								<!-- Slide -->
								<div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %});"></div>

								<!-- Slide -->
								<div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %});"></div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-xl-3">
								<div class="news_post_content">
									<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
										<div>02</div>
										<div>june</div>
									</div>
								</div>
							</div>
							<div class="col-xl-7">
								<div class="review_title">
									<h4>Destination title</h4>
								</div>
								<div class="review_location">
									<h5>Destination</h5>
								</div>
							</div>
							<div class="col-xl-2 reviewer_name">
								<img class="img-fluid rounded-circle mb-3" src="{% static 'images/signupicon.png' %}" alt="" width="40" height="40">
								<h6>Author</h6>
							</div>
						</div>

						<div class="review_description">
									শালবন বৌদ্ধ বিহার বাংলাদেশের প্রাচীন সভ্যতার নিদর্শনগুলোর মধ্যে অন্যতম।
									কুমিল্লা জেলার লালমাই-ময়নামতি প্রত্নস্থলের অসংখ্য প্রাচীন স্থাপনাগুলোর একটি এই বৌদ্ধ বিহার ।
									এটি ১২শ প্রত্নতাত্ত্বিক এলাকা হিসেবে চিহ্নিত। আকারে এটি চৌকো। শালবন বিহারের প্রতিটি বাহু ১৬৭.৭ মিটার দীর্ঘ।
									বিহারের চার দিকের দেয়াল পাঁচ মিটার পুরু। কক্ষগুলো বিহারের চার দিকের বেষ্টনী দেয়াল পিঠ করে নির্মিত।
									বিহারে ঢোকা বা বের হওয়ার মাত্র একটাই পথ ছিল। এ পথ বা দরজাটি উত্তর ব্লকের ঠিক মাঝামাঝি স্থানে রয়েছে।
									প্রতিটি কক্ষের মাঝে ১.৫ মিটার চওড়া দেয়াল রয়েছে। বিহার অঙ্গনের ঠিক মাঝে ছিল কেন্দ্রীয় মন্দির। বিহারে সর্বমোট
									১৫৫টি কক্ষ আছে।
						</div>

						<div class="row review_likes_comments">
							<div class="col-xl-6"><h6>Likes: 50</h6></div>
							<div class="col-xl-6"><h6>Comments: 100</h6></div>
						</div>

						<div class="row review_comments">
							<div class="col-xl-1">
								<img class="img-fluid rounded-circle mb-3" src="{% static 'images/signupicon.png' %}" alt="" width="35" height="35">
							</div>
							<div class="col-xl-11">
								<h6>Commenter name</h6>
								Nice post!
							</div>
						</div>

						<div class="row review_comments">
							<div class="col-xl-1">
								<img class="img-fluid rounded-circle mb-3" src="{% static 'images/signupicon.png' %}" alt="" width="35" height="35">
							</div>
							<div class="col-xl-11">
								<h6>Commenter name</h6>
								Nice post!
							</div>
						</div>
					</div>


				</div>
			</div>

			<!-- News Post -->

			<div class="col-xl-4">
				<div class="news_container">
					<div class="section_title">
						<h4>You May Like</h4>
					</div>
					<br>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- News Post -->
					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image js-tilt" data-tilt style="margin: 2px;">
							<img src="{% static 'images/news_1.jpg' %}" alt="">
						</div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>02</div>
								<div>june</div>
							</div>
							<div class="news_post_title"><a href="#">Destination</a>
							</div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">lifestyle & travel</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock block_content %}