{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% static "reviewimages" as baseUrlOfReviews %}

{% block block_content %}
<!--		<div class="video-container">-->
<!--			<video autoplay muted loop height="100%" width="100%">-->
<!--				<source src="{% static 'videos/homevideo.mp4' %}" type="video/mp4"/>-->
<!--			</video>-->
<!--			<h2>Your caption here</h2>-->
<!--		</div>-->

		<!-- Home -->

		<div class="home">

			<!-- Home Slider -->
			<div class="home_slider_container">
				<div class="owl-carousel owl-theme home_slider">

					<!-- Slide -->
					<div class="owl-item">
						<div class="background_image"
							style="background-image:url({% static 'videos/rain.gif' %})"></div>
						<div class="home_slider_content_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_slider_content">
											<div class="home_title">
												<h2>Let us take you away</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="owl-item">
						<div class="background_image"
							style="background-image:url({% static 'images/home_slider.jpg' %})"></div>
						<div class="home_slider_content_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_slider_content">
											<div class="home_title">
												<h2>Let us take you away</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="owl-item">
						<div class="background_image"
							style="background-image:url({% static 'images/home_slider.jpg' %})"></div>
						<div class="home_slider_content_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_slider_content">
											<div class="home_title">
												<h2>Let us take you away</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="home_page_nav">
					<ul class="d-flex flex-column align-items-end justify-content-end">
						<li><a href="#" data-scroll-to="#destinations">Places<span>{{ num_places }}</span></a></li>
						<li><a href="#" data-scroll-to="#news">Reviews<span>{{ num_reviews }}</span></a></li>
						<li><a href="#" data-scroll-to="#contributors">Reviewers<span>{{ num_contributors }}</span></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Destinations -->

		<div class="destinations" id="destinations">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">simply amazing places</div>
						<div class="section_title">
							<h2>Popular Destinations</h2>
						</div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col text-center">
						<div class="destinations_container item_grid">

							{% for dest in destinations %}

							<!-- Destination -->
							<div class="destination item">
								<div class="destination_image">
									<div class="login100-pic js-tilt" data-tilt style="margin: 20px;">
										<a href="destination?dest={{ dest.location }}">
											<img src="{{ baseUrlOfReviews }}{{ dest.images.0.url }}" width="350px" height="200px">
										</a>
									</div>
								</div>
								<div class="destination_content bg-light">
									<div class="destination_title">
										<a href="destination?dest={{ dest.location }}">
											{{ dest.location }}
										</a>
									</div>
									<div class="destination_subtitle">
										{% if dest.review_count == 1 %}
										<p>{{ dest.review_count }} post</p>
										{% else %}
										<p>{{ dest.review_count }} posts</p>
										{% endif %}
									</div>
								</div>
							</div>

							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials -->

<!--		<div class="testimonials" id="testimonials">-->
<!--			<div class="parallax_background parallax-window" data-parallax="scroll"-->
<!--				data-image-src="{% static 'images/testimonials.jpg' %}" data-speed="0.8"></div>-->
<!--			<div class="container">-->
<!--				<div class="row">-->
<!--					<div class="col text-center">-->
<!--						<div class="section_subtitle">simply amazing places</div>-->
<!--						<div class="section_title">-->
<!--							<h2>Testimonials</h2>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="row testimonials_row">-->
<!--					<div class="col">-->

<!--						&lt;!&ndash; Testimonials Slider &ndash;&gt;-->
<!--						<div class="testimonials_slider_container">-->
<!--							<div class="owl-carousel owl-theme testimonials_slider">-->

<!--								&lt;!&ndash; Slide &ndash;&gt;-->
<!--								<div class="owl-item text-center">-->
<!--									<div class="testimonial">Lorem ipsum dolor sit amet, consectetur-->
<!--										adipiscing elit.-->
<!--										lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur-->
<!--										quis vehicula-->
<!--										odio.</div>-->
<!--									<div class="testimonial_author">-->
<!--										<div-->
<!--											class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">-->
<!--											<div>john turner,</div>-->
<!--											<div>client</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Slide &ndash;&gt;-->
<!--								<div class="owl-item text-center">-->
<!--									<div class="testimonial">Lorem ipsum dolor sit amet, consectetur-->
<!--										adipiscing elit.-->
<!--										lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur-->
<!--										quis vehicula-->
<!--										odio.</div>-->
<!--									<div class="testimonial_author">-->
<!--										<div-->
<!--											class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">-->
<!--											<div>john turner,</div>-->
<!--											<div>client</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Slide &ndash;&gt;-->
<!--								<div class="owl-item text-center">-->
<!--									<div class="testimonial">Lorem ipsum dolor sit amet, consectetur-->
<!--										adipiscing elit.-->
<!--										lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur-->
<!--										quis vehicula-->
<!--										odio.</div>-->
<!--									<div class="testimonial_author">-->
<!--										<div-->
<!--											class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">-->
<!--											<div>john turner,</div>-->
<!--											<div>client</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="test_nav">-->
<!--				<ul class="d-flex flex-column align-items-end justify-content-end">-->
<!--					<li><a href="#">City Breaks Clients<span>01</span></a></li>-->
<!--					<li><a href="#">Cruises Clients<span>02</span></a></li>-->
<!--					<li><a href="#">All Inclusive Clients<span>03</span></a></li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->

		<!-- News -->

		<div class="news" id="news">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">shared amazing experience</div>
						<div class="section_title">
							<h2>Latest Reviews</h2>
						</div>
					</div>
				</div> <br> <br>
				<div class="row">
					<div class="col-xl-8">
						<div class="news_container">

							{% for review in latest_reviews %}

							<!-- News Post -->

							<div class="news_post bg-light d-flex flex-md-row flex-column align-items-start justify-content-start">
								<div class="news_post_image">
									<div class="js-tilt" data-tilt style="margin: 10px;">
									<a href="destination?name={{ review.reviewer_name }}&date={{ review.date }}&time={{ review.time }}">
										<img src="{{ baseUrlOfReviews }}{{ review.images.0.url }}" alt="">
									</a>
									</div>
								</div>
								<div class="news_post_content">
									<a href="destination?name={{ review.reviewer_name }}&date={{ review.date }}&time={{ review.time }}">
									<div class="news_post_date justify-content-start">
										<div>{{ review.date }}</div><br>
										<div>{{ review.time }}</div>
									</div>
									<div class="news_post_title">
										{{ review.title }}
									</div>
									<div class="news_post_category">
										<ul>
											{{ review.location }}
										</ul>
									</div>
									<div class="news_post_text">
										{% if review.description|length > 150 %}
										<p>{{ review.description|slice:150 }}...</p>
										{% else %}
										<p>{{ review.description }}</p>
										{% endif %}
									</div>
									</a>
								</div>
							</div>

							{% endfor %}

						</div>
					</div>

					<!-- News Sidebar -->
					<div class="col-xl-4">
						<div class="travello">
							<div class="background_image"
								style="background-image:url({% static 'videos/flower.gif' %})"></div>
							<div class="travello_content">
								<div class="travello_content_inner">
									<div></div>
									<div></div>
								</div>
							</div>
							<div class="travello_container">
								<a href="../">
									<div class="d-flex flex-column align-items-center justify-content-end">
										<span class="travello_subtitle">Share your experience now</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contributors -->
		  <div class="contributors text-center bg-light" id="contributors">
			  <div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h2>Top Reviewers</h2>
					</div>
				</div>
			  </div> <br> <br>
			<div class="container">
				<div class="row justify-content-center">

				{% for contributor in top_contributors %}

				<div class="col-lg-2">
				  <div class="contributors-item mx-auto mb-5 mb-lg-0">
					  <a href="profile?username={{ contributor.username }}">
						  <img class="img-fluid rounded-circle mb-3" src="{{ baseUrlOfPhotos }}{{ contributor.image.0.url }}" alt="">
						  <h5>{{ contributor.username }}</h5>
						  <p class="font-weight-light mb-0">{{ contributor.biodata }}</p>
						  <p class="font-weight-light mb-0">Total Review : {{ contributor.review_count }}</p>
					  </a>
				  </div>
				</div>

				{% endfor %}

			  </div>
			</div>
		  </div>

{% endblock block_content %}